version: "3.8"

services:
  # 1. PostgreSQL Database Service for Auth Service
  auth-postgres-db:
    image: postgres:15-alpine
    container_name: auth-postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data/

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    restart: on-failure
    environment:
      POSTGRES_DSN: "user=postgres password=postgres host=auth-postgres-db port=5432 dbname=authdb sslmode=disable"
    depends_on:
      - auth-postgres-db
    deploy:
      resources:
        limits:
          memory: 128M

  # 3. API Gateway (Go)
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    restart: on-failure
    ports:
      - "8081:8081" # Expose the Gateway port to the outside world
    environment:
      # Reference the internal Docker service names
      AUTH_SERVICE_URL: "http://auth-service:8080"
    depends_on:
      - auth-service
    deploy:
      resources:
        limits:
          memory: 128M # Also a lean limit for I/O bound Go proxy

volumes:
  auth_postgres_data:
