version: "3.8"

services:
  # 1. PostgreSQL Database Service for Auth Service
  auth-postgres-db:
    image: postgres:15-alpine
    container_name: auth-postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data/

  # PostgreSQL Database Service for Profile Service
  profile-postgres-db:
    image: postgres:15-alpine
    container_name: profile-postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: profiledb
    ports:
      - "5434:5432"
    volumes:
      - profile_postgres_data:/var/lib/postgresql/data/

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    restart: on-failure
    ports:
      - "8080:8080"
    environment:
      POSTGRES_DSN: "user=postgres password=postgres host=auth-postgres-db port=5432 dbname=authdb sslmode=disable"
      PORT: "8080"
      JWT_SECRET: ${JWT_SECRET:-dev_a_super_long_and_complex_secret_key}
      GMAIL_SMTP_EMAIL: ${GMAIL_SMTP_EMAIL:-kushanrathnayake5@gmail.com}
      GMAIL_SMTP_APP_PASSWORD: ${GMAIL_SMTP_APP_PASSWORD:-qsjs eowp wupk xqnt}
      EMAIL_FROM_NAME: ${EMAIL_FROM_NAME:-PulseOne}
      AUTH_PUBLIC_BASE_URL: ${AUTH_PUBLIC_BASE_URL:-http://localhost:8080}
    depends_on:
      - auth-postgres-db
    deploy:
      resources:
        limits:
          memory: 128M

  profile-service:
    build:
      context: ./profile-service
      dockerfile: Dockerfile
    container_name: profile-service
    restart: on-failure
    ports:
      - "8082:8080"
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://profile-postgres-db:5432/profiledb"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "postgres"
    depends_on:
      - profile-postgres-db
    deploy:
      resources:
        limits:
          memory: 512M

  # 3. API Gateway (Go)
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    restart: on-failure
    ports:
      - "8081:8081" # Expose the Gateway port to the outside world
    environment:
      # Reference the internal Docker service names
      AUTH_SERVICE_URL: "http://auth-service:8080"
      PROFILE_SERVICE_URL: "http://profile-service:8080"
    depends_on:
      - auth-service
      - profile-service
    deploy:
      resources:
        limits:
          memory: 128M # Also a lean limit for I/O bound Go proxy

volumes:
  auth_postgres_data:
  profile_postgres_data:
